.btn {
  padding: 10px;
  margin: 15px;
  background-color: #f4a603;
  border: 2px solid #0a0b88;
  color: #0a0b88;
  border-radius: 5px;
  /* text-transform: uppercase; */
  font-family: 'Press Start 2P', cursive;
}
