.footer {
  font-size: 10px;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100vw;
  margin-bottom: 5px;
}

.heart {
  width: 20px;
  margin-bottom: -5px;
}

.link {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  cursor: pointer;
}
