.modal {
  display: block;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(250, 250, 210, 0.8);
}

/* Modal Content */
.modal__content {
  margin: auto;
  padding: 3rem;
  height: 50%;
  width: 100vw;
  display: grid;
  place-items: center;
  z-index: 11;
}

.modal__content h3 {
  padding-bottom: 2rem;
}

.modal__content img {
  width: 150px;
}

.modal__title {
  padding: 1rem;
}

.big {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
}

@media screen and (min-width: 500px) {
  .modal {
    display: grid;
    place-items: center;
  }
}
