@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e7e7e5;
  line-height: 1.5;
  font-family: 'Press Start 2P', cursive;
}

.title {
  text-align: center;
  color: #e4c439;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.title__image {
  padding-top: 1rem;
  width: 15rem;
}

.deck--four {
  grid-template-columns: repeat(4, 160px);
  display: grid;
  margin: 0 auto;
  justify-content: center;
  gap: 5px;
}

.deck--five {
  grid-template-columns: repeat(5, 160px);
  display: grid;
  margin: 0 auto;
  justify-content: center;
  gap: 5px;
}

.loading {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

@media screen and (min-width: 500px) and (max-width: 850px) {
  .title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .title__image {
    width: 8rem;
  }

  .deck--four {
    grid-template-columns: repeat(4, 110px);
    display: grid;
    margin: 0 auto;
    justify-content: center;
    gap: 5px;
  }

  .deck--five {
    grid-template-columns: repeat(5, 110px);
    display: grid;
    margin: 0 auto;
    justify-content: center;
    gap: 5px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .title__image {
    width: 8rem;
  }

  .deck--four {
    grid-template-columns: repeat(4, 60px);
    display: grid;
    margin: 0 auto;
    justify-content: center;
    gap: 5px;
  }

  .deck--five {
    grid-template-columns: repeat(5, 60px);
    display: grid;
    margin: 0 auto;
    justify-content: center;
    gap: 5px;
  }

  .loading {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
