@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e7e7e5;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.title {
  text-align: center;
  color: #e4c439;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.title__image {
  padding-top: 1rem;
  width: 15rem;
}

.deck--four {
  grid-template-columns: repeat(4, 160px);
  display: grid;
  margin: 0 auto;
  justify-content: center;
  gap: 5px;
}

.deck--five {
  grid-template-columns: repeat(5, 160px);
  display: grid;
  margin: 0 auto;
  justify-content: center;
  gap: 5px;
}

.moves {
  padding: 1rem;
}

.level {
  padding: 1rem;
}

.level__label {
  padding: 1rem;
}

.level__input {
  margin: 0.25rem;
}

.loading {
  height: 500px;
  padding-top: 200px;
}
